body {
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  color: pink;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  color: darkslateblue;
}

#primeiroParagrafo {
  color: yellowgreen;
}

#segundoParagrafo {
  color: brown;
}

.paragrafoFontGrande {
  font-size: x-large;
  color: darkblue;
}

.paragrafoFontGrande strong {
  color: red;
}

.paragrafoFontGrande strong em {
  color: green;
}

.paragrafoOutraFonte {
  font-family: fantasy;
}
